In [151]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [152]:
#read csv file
df= pd.read_csv('tennis.csv')
df.head(4)

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes

In [153]:
#drop day column
df.drop('day',axis=1,inplace=True)
df.head(4)

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes

In [154]:
x_train=df.iloc[:,0:4]
y_train=df.iloc[:,4:5]

In [155]:
#p(cx | x1,x2,x3 ....) = p(ck)* p(xi | ck)
no_class=pd.unique(y_train['play']).tolist()
def train(x_train,y_train):
    prob={}
    col=x_train.columns
    for i in col:
        no_unique=pd.unique(x_train[i]).tolist()
        prob[i]={}
        for j in no_unique:
            prob[i][j]={}
            for k in no_class:
                count=len(x_train[(y_train['play']==k )& (x_train[i]==j)])
                prob[i][j][k]=count/len(x_train[y_train['play']==k ])
    prob['play']={}
    for i in no_class:
        prob['play'][i]=len(y_train[y_train['play']==i])/len(y_train)
    return prob

In [156]:
prob=train(x_train,y_train)

In [157]:
def test_fun(prob,test):
    result=[]
    for i in range(len(test)):
        sum1=prob['play']['Yes']
        sum2=prob['play']['No']
        for j in col:
            sum1=sum1*prob[j][test[j].values[i]]['Yes']
            sum2=sum2*prob[j][test[j].values[i]]['No']
        if sum1<sum2:
            result.append('No')
        else:
            result.append('Yes')
    return result

In [158]:
x_test=x_train.loc[1:4]
y_test=y_train.loc[1:4]
p=test_fun(prob,x_test)

In [159]:
p

['No', 'Yes', 'Yes', 'Yes']

In [160]:
y_test

  play
1   No
2  Yes
3  Yes
4  Yes